#chart{
    width:600px;
    height:400px;
}
.bar{
    fill:#eaeaea;
}
text.label{
    fill: #777777;
    color: #777777;
    font-size: 20px;
    font-weight: bold;
}
text.category{
    fill: #666666;
    font-size: 14px;
}

.loader {
    border: 0.5em solid #f3f3f3; /* Light grey */
    border-top: 0.5em solid #3498db; /* Blue */
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 2s linear infinite;
    margin-top: 3rem;
    margin-left: 30rem;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.topTenHashTitle {
    background-color: rgb(247, 247, 247);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.headers {
    margin-left: 10rem;
}