
svg {
    border: 1px solid #aaa;
}

.land {
    fill: #eee;
}

#everything{
    width:600px;
    margin:20px;
}

.boundary {
    fill: none;
    stroke: #aaa;
    stroke-width: .5px;
}

.point {
    opacity: 0.3;
}

.radar-ping {
    fill: none;
}