
svg {
    border: 1px solid #aaa;
}

.land {
    fill: #eee;
}

.chartFirstTitle{
    font-size:150%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    text-align: left;
    margin-bottom: 5px;
}

.chartSecondTitle {
    font-size: 12px;
    font-style: italic;
    color: gray;
    margin-top:5px;
    margin-bottom:5px;
}

.boundary {
    fill: none;
    stroke: #aaa;
    stroke-width: .5px;
}

.point {
    opacity: 0.3;
}

.radar-ping {
    fill: none;
}

#chart{
    margin-top: 1rem;
    width:600px;
    height:400px;
}

.everything {
    top: 0;
}

text.label{
    fill: #f5f5f5;
    color: #f5f5f5;
    font-size: 20px;
    font-weight: bold;
}
text.category{
    fill: #000000;
    font-size: 18px;

}

.topTenHashTitle {
    background-color: rgb(247, 247, 247);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom: 0.5px solid darkgray;
    border-left: 0.5px solid darkgray;
    border-right: 0.5px solid darkgray;
}

.headers {
    margin-left: 10rem;
}

.loader {
    border: 0.5em solid #f3f3f3; /* Light grey */
    border-top: 0.5em solid #3498db; /* Blue */
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 2s linear infinite;
    margin-top: 3rem;
    margin-left: 30rem;
    position: absolute;
    z-index: 5;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}