div#side {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px;
}

div.tweet {
    display: inline-block;
    border: 1px solid #e1e8ed;
    border-width: 0 1px 1px;
    border-radius: 4px 4px 4px 4px;
    padding: 10px;
    margin: 1px;
    width: 100%;
}
img.tweetAvatar {
    border-radius: 50%;
    margin-right: 5px;
}
div.tweetBody {
    margin-top: 14px;
    font-size: medium;
}

div.tweetFooter {
    color: #697882;
    font-size: small;

}

div#map {
    padding-right: 0px;
}