html, body {
    height: 100%;
    overflow: hidden;
}

div#side {
    padding: 0px;

}
div#sideContent {
    overflow-y: scroll;
    overflow-x: hidden;
}

 div#main {
     height: 100%;
 }

 div.row {
     height: 100%;
 }

div#map {
    height: 100%;
    right: 0;
    bottom: 0;
}

div.tweet {
    display: inline-block;
    border: 1px solid #e1e8ed;
    border-width: 0 1px 1px;
    border-radius: 4px 4px 4px 4px;
    padding: 10px;
    margin: 1px;
    width: 100%;
}

div.tweetPopup {
    display: inline-block;
    border-width: 0 1px 1px;
    border-radius: 4px 4px 4px 4px;
    padding: 10px;
    margin: 1px;
    width: 100%;
}


img.tweetAvatar {
    border-radius: 50%;
    margin-right: 5px;
}
div.tweetBody {
    margin-top: 14px;
    font-size: medium;
    width: 100%;

}

div.tweetHeader {
    width: 100%;

}

div.tweetBody>p {
    text-align: left;
}

div.tweetFooter {
    color: #697882;
    font-size: small;
    text-align: right;
}


div#map {
    padding-right: 0px;
}

.ol-popup {
    position: absolute;
    background-color: #f5f8fa;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-content {
    width: 100%
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "✖";
}

.little_navbar {
    height: 20px;
}

div.sideHeader {
    position:fixed;
    overflow-y: hidden;
}


a#navbar-brand-title {
    position: relative;
    font-size: 1.10rem;
    float: left;

}

div#sideHeaderButton {
    float: right;
    margin-right: 5px;
}

#slider .slider-selection {
    background: #BABABA;

}

div#status {
    background-color: gray;
    color: white;
    z-index: 5;
    position: absolute;
    right: 0rem;
    margin-top: 10px;
    margin-right: 10px;
    padding: 15px;
    border-radius: 4px 4px 4px 4px;
    width: 12%;

}


div.coords {
    font-size: 0.8rem;
    text-align: right;
}

.status-show-hide {
    transition: all linear 1s;
}
.status-show-hide.ng-hide {
    opacity: 0;
}
.status-show-hide.ng-show {
    opacity: 0.85;
}

div.tags {
    font-size: 0.8rem;
    text-align: right;
}

span.coords {
    font-size: 1rem;
}

span.tags {
    font-size: 1rem;
}

div#searchBar {
    background-color: transparent;
    z-index: 5;
    position: absolute;
    margin: 10px 27%;
    border-radius: 50%;
}

#input-search {
    background: rgba(211, 211, 211, 0.3);
    color: black;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

#reset {
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}

button.searchButtons {
    opacity: 0.5;
}

button.searchButtons:hover {
    opacity: 1;
}