html, body {
    height: 100%;
    overflow: hidden;
}

div#side {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px;
}
 div#main {
     height: 100%;
 }

 div.row {
     height: 100%;
 }

div#map {
    height: 100%;
    right: 0;
    bottom: 0;
}

div.tweet {
    display: inline-block;
    border: 1px solid #e1e8ed;
    border-width: 0 1px 1px;
    border-radius: 4px 4px 4px 4px;
    padding: 10px;
    margin: 1px;
    width: 100%;
}

div.tweetPopup {
    display: inline-block;
    border-width: 0 1px 1px;
    border-radius: 4px 4px 4px 4px;
    padding: 10px;
    margin: 1px;
    width: 100%;
}


img.tweetAvatar {
    border-radius: 50%;
    margin-right: 5px;
}
div.tweetBody {
    margin-top: 14px;
    font-size: medium;
}

div.tweetBody>p {
    text-align: justify;
}

div.tweetFooter {
    color: #697882;
    font-size: small;

}

div#map {
    padding-right: 0px;
}