<div ng-controller="MapController" id="map" tabindex="0" >
    <div id="searchBar">
        <div class="input-group" id="searchBox">
            <input ng-model="hashtag" placeholder="Search for #job..." type="text" class="form-control" id="input-search" aria-label="...">
            <div class="input-group-btn">
                <div class="btn-group">
                    <button ng-click="search()" class="btn btn-primary searchButtons">
                        <i class="fa fa-search"></i>&nbsp;Search
                    </button>
                    <!--button type="button" id="heatmap"
                            class="searchButtons btn btn-primary">
                        <i class="fa fa-fire"></i>&nbsp;HeatMap
                    </button-->
                    <button ng-click="reset()" type="button" id="reset"
                            class="searchButtons btn btn-danger">
                        <i class="fa fa-exclamation-circle"></i>&nbsp;Reset
                    </button>

                </div>
            </div><!-- /btn-group -->
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <div id="status" class="status-show-hide"
         ng-model="statusOk"
         ng-show="statusOk">
        <div ng-show="coordsOk">
            <span class="coords">Box: </span>
            <div class="coords"><span>[{{coords[0][0]}},&nbsp;</span><span>{{coords[0][1]}}]</span></div>
            <div class="coords"><span>[{{coords[1][0]}},&nbsp;</span><span>{{coords[1][1]}}]</span></div>
        </div>
        <div ng-show="tagsOk">
            <span class="tags">Tags: </span>
            <div class="tags">
                <span>{{tags}}</span></div>

        </div>
    </div>


</div>